body {
  font-family: 'Merriweather', serif;
  color: #F2F0D0;
  position: relative;
}

button {
  cursor: pointer;
}

.big-button:hover {
  background-color: #F27979;
}

.post {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: auto;
  padding: 20px 20px;
  border-radius: 10px;
  width: 95%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.intro {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  color: #F27979;
  margin-bottom: 20px;
}

.separator {
  width: 100%;
  border-top: 2px solid #F2AC29;
  margin-bottom: 20px;
}

.title {
  font-size: 1rem;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  resize: none;
}

.description {
  font-size: 1rem;
  border-radius: 10px;
  width: 100%;
  margin: 10px 0 20px 0;
  border-radius: 10px;
  padding: 10px;
  border: none;
  resize: none;
}

.description:focus {
  height: 200px;
}

.file-upload {
  display: none;
}

.custom-file-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: black;
  margin-bottom: 20px;
}

#target {
  display: block;
  width: 300px;
  margin-bottom: 20px;
}

.submit {
  display: block;
  font-size: 1.2rem;
  margin: auto;
  width: 100%;
  padding: 8px 0;
  border-radius: 10px;
  background-color: #F2AC29;
  border: none;
  cursor: pointer;
}

.submit:hover {
  background-color: #F27979;
}

.hidden {
  display: none;
}